html {
  scroll-behavior: smooth;
}

.green {
  color: #7cab8b;
}

.brown {
  color: #a99393;
}

.big {
  font-size: 2vw;
}

.small {
  font-size: 1vw;
}

.tahoma {
  font-family: Tahoma;
}

nav {
  background: grey;
  display: flex;

  li {
    flex-grow: 1;
    list-style-type: none;

    a {
      text-decoration: none;
      font-family: Tahoma;
      font-size: 2.2 vw;
      color: turquoise;
      padding: 1vw;
      margin: 1vw;

      &:hover {
        color: lighten(turquoise, 25%);
      }
    }
  }
}
